<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        background: #f1f3f5;
    }

    .container {
        background-size: cover;
        min-height: 100vh;
    }

    .title,
    .button {
        display: flex;
        justify-content: center;
    }

    .title h2 {
        margin: 5%;
        font-size: 6rem;
    }

    button {
        padding: 1em;
        background: transparent;
        outline: none;
        border: .25px solid #222;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: all .3s;
    }

    button:hover {
        background: #1c1d1e;
        color: #f1f3f5;
    }
</style>

<body>
    <section class="container">
        <div class="title">
            <h2><%=homeTeam%> vs <%=awayTeam%></h2>
        </div>


        <%if(eligibility){%>
            <div class="button">
                <a href="/createteam?home=<%=homeTeam%>&away=<%=awayTeam%>&id=<%=id%>"><button>Create Team</button></a>
            </div>
            <%}else{%>
                <div class="button">
                    <button class="lend">Lend Points</button>
                </div>
                <%}%>
    </section>
</body>
<script>
    let eligibility = `<%=eligibility%>`;
    let id = `<%=id%>`;

    console.log(eligibility);

    if(eligibility === "false"){
        let lendButton = document.querySelector(".lend");

        lendButton.addEventListener("click",()=>{
            let no_of_points = prompt("How many coins ?");

            const options = {
                method : 'POST',
                body : JSON.stringify({
                    id : id,
                    coins : Number(no_of_points)
                }),
                headers : new Headers({
                    'Content-Type' : 'application/json'
                })
            }

            fetch("/lendpoints",options)
                .then(res=>res.json())
                .then((response)=>{
                    alert(response.message);
                })
                .catch(err=>console.log("Error: ",err));
        })
    }
</script>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Play</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 10rem;
    }

    .toggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: url(https://i.ibb.co/HrfVRcx/menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
    }

    .toggle.active {
        background: url(https://i.ibb.co/rt3HybH/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        cursor: pointer;
    }

    .showcase {
        position: absolute;
        right: 0;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #111;
        transition: 0.5s;
        z-index: 2;
    }

    .showcase.active {
        right: 300px;
    }

    .showcase video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #03a9f4;
        mix-blend-mode: overlay;
    }

    .text {
        position: relative;
        z-index: 10;
    }

    .text h2 {
        font-size: 5em;
        font-weight: 800;
        color: #fff;
        line-height: 1em;
        text-transform: uppercase;
    }

    .text h5 {
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        line-height: 2em;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    .text p {
        font-size: 1.1em;
        color: #fff;
        margin: 20px 0;
        font-weight: 400;
        max-width: 700px;
    }

    .text a {
        display: inline-block;
        font-size: 1em;
        background: #fff;
        padding: 10px 30px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin-top: 10px;
        color: #111;
        letter-spacing: 2px;
        transition: 0.2s;
    }

    .text a:hover {
        background: rgb(195, 195, 195);
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu ul {
        position: relative;
    }

    .menu ul li {
        list-style: none;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 24px;
        color: #111;
    }

    .menu ul li a:hover {
        color: #03a9f4;
    }

    @media (max-width: 991px) {

        .showcase,
        .showcase header {
            padding: 40px;
        }

        .text h2 {
            font-size: 3em;
        }

        .text h3 {
            font-size: 2em;
        }
    }


</style>

<body>


    <section class="showcase">
        <header>
            <h2 class="logo"><%=homeTeam%> vs <%=awayTeam%></h2>
        </header>
        <video src="/video/cric.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <%if(eligibility){%>
            <div class="text">
                <a href="/createteam?home=<%=homeTeam%>&away=<%=awayTeam%>&id=<%=id%>">Create Team</a>
            </div>
            <%}else{%>
                <div class="text">
                    <a style="cursor: pointer;" class="lend">Request Coins</a>
                </div>
                <%}%>



    </section>

</body>
<script>
    let eligibility = `<%=eligibility%>`;
    let id = `<%=id%>`;

    console.log(eligibility);

    if(eligibility === "false"){
        let lendButton = document.querySelector(".lend");

        lendButton.addEventListener("click",()=>{
            location.href = `${location.origin}/requestCoins?id=${id}`;
        })
    }
</script>

</html>